<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish></SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions//resourcegroups/UPSDEMOAZUREFUNCTION/providers/Microsoft.Web/sites/UPSDemoEventHubTrigger</ResourceId>
    <UserName>$UPSDemoEventHubTrigger</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://upsdemoeventhubtrigger.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>
